.headerMobile {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.imgMobile {
  width: 35px;
  height: 35px;
}

.imgNav {
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.imgNavOpen {
  transform: rotate(-90deg);
}
.link {
  display: flex;
  align-items: center;
}

.linkHome,
.logout,
.linkUser {
  font-size: 1.5rem;
  font-weight: bold;
}

.link::before {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-repeat: no-repeat;
}

.linkHome::before {
  background-image: url(/public/assets/house-solid.svg);
}

.linkUser::before {
  background-image: url(/public/assets/user-solid-white.svg);
}

.logout::before {
  background-image: url(/public/assets/right-from-bracket-solid.svg);
}

.placead::before {
  background-image: url(/public/assets/placead.svg);
}

.linkPlant::before {
  background-image: url(/public/assets/icon_w.svg);
}

.favourites::before {
  background-image: url(/public/assets/heart-solid.svg);
}

.messages::before {
  background-image: url(/public/assets/envelope-white.svg);
}

.toggleMenu {
  position: fixed;
  top: 60px;
  right: 0;
  width: 100%;
  height: calc(100vh - 6vh);
  background: var(--green--Background);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  overflow-y: auto;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.toggleMenuOpen {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Allow interaction */
}

.user {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 90%;
  border-top: 1px solid #ddd;
}

.link:visited,
.link {
  color: white;
}

.categories {
  border-top: 1px solid #ddd;
  width: 90%;
}

.headline {
  padding-top: 1.5rem;
}
.categoryItem {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.categorylist {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
