.productListWrapper {
  display: flex;
  gap: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.sidebar {
  flex: 1;
  max-width: 25%;
}

.productItemPlaceholder {
  flex: 3;
  gap: 1rem;
  
  width: 100%;
  margin: 0rem auto;
  background-color: #f8f8f8;
  padding: 1rem;
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.productList {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productItem {
  display: flex;
  gap: 1rem;
  background-color: #f8f8f8;
  padding: 1rem;
  /* border-radius: 8px; */
  text-decoration: none;
  color: inherit;
}

.productItem img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.createdAt{
  font-size: 0.7rem;
  color: gray;
  margin: -0.2rem 0; 
}

.priceBadge {
  display: inline-block;
  background: var(--green--Background);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  width: fit-content;
  margin: 0.5rem 0;
}

.city {
  color: gray;
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .productListWrapper {
    /* flex-direction: column; */
  }

  .sidebar {
    display: none;
  }

  .productItem {
    /* flex-direction: column;
      align-items: center;
      text-align: center; */
  }

  .productItem img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
}
