.productSection {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #ffffff;
}

.heading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.productGrid {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.productCard {
  border: 1px solid #e0e0e0;
  /* border-radius: 8px; */
  overflow: visible; /* wichtig */
  position: relative; /* nötig für Overlay außerhalb */
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 180px;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.priceOverlay {
  position: absolute;
  bottom: 10px;
  right: -10px;
  background: var(--green--Background);
  color: white;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
  /* border-radius: 4px; */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.productCardContent {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.productCardContent h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.productLocation {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.productDescription {
  font-size: 0.8rem;
  color: #333;
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.createdAt {
  font-size: 0.7rem;
  color: #999;
  margin-top: auto;
}